.ui.template-segment {
    overflow-x: scroll;
    white-space: nowrap;
    max-height: 200px;
}

.ui.template-card {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    vertical-align: middle;
    margin: 5px;
}

.ui.template-card > .image {
    max-height: 100px;
}

.selected-template {
    max-height: 500px;
}